
.btn-small-custom {
    padding: 5px 10px;  /* Ajusta el espacio interno del botón */
    font-size: 0.85em;  /* Ajusta el tamaño de la fuente */
    margin-bottom: 10px; /* Espaciado en la parte inferior */
}

