/* Aumentar el tamaño de las letras en general */
body {
    font-size: 1.1rem; /* Aumentar el tamaño de la fuente */
}

/* Aumentar la visibilidad de los encabezados */
h6 {
    font-size: 1.3rem; /* Aumenta el tamaño de los títulos */
    font-weight: bold; /* Asegura que los encabezados sean negritas */
    color: #004085; /* Cambiar el color a uno más oscuro para mejor contraste */
}

/* Aumentar el tamaño de la tabla de horarios */
.table-hover td, .table-hover th {
    font-size: 1.1rem; /* Aumentar el tamaño de las celdas de la tabla */
    color: #343a40; /* Asegura un buen contraste */
}

/* Mejorar la visibilidad de los botones */
.btn {
    font-size: 1.1rem; /* Aumenta el tamaño del texto en los botones */
    font-weight: bold; /* Negritas para mayor visibilidad */
}

#selected_hour, #displayDate {
    font-size: 1.2rem; /* Aumentar el tamaño del texto seleccionado */
    color: #28a745; /* Verde más vibrante */
}

/* Mejorar la visibilidad de los detalles de la reserva */
.precio, .cantidad {
    font-size: 1.2rem; /* Aumentar el tamaño de la fuente */
    font-weight: bold; /* Poner en negritas */
    color: #333; /* Un color más oscuro para mejor contraste */
}
