
.btn-small-custom {
    padding: 5px 10px;  /* Ajusta el espacio interno del botón */
    font-size: 0.85em;  /* Ajusta el tamaño de la fuente */
    margin-bottom: 10px; /* Espaciado en la parte inferior */
}

.table td, .table th {
    padding: 5px; /* Ajusta este valor a lo que desees */
}
/* .centrar-boton {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.section {
    border: 1px solid #dee2e6; /* Borde gris claro */
    border-radius: 0.5rem; /* Esquinas redondeadas */
    padding: 1rem; /* Espaciado interno */
    margin-bottom: 1rem; /* Espaciado entre secciones */
}